<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Insurance Agents</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <style media="screen">
      body{
        display: block;
        font-family: Raleway;
        font-size: 1EM;
        text-align: center;
      }
      .container{
        display: flex;
        flex-wrap: wrap;
      }
      .agents{
        border: 2px solid black;
        flex: 1;
        margin: 10px;
        padding: 10px;
      }
      a {
        text-decoration: none;
        color: black;
        border: 2px solid black;
        margin: 5px;
        padding: 5px;
      }
    </style>
  </head>
  <body>
    <h1>Agents</h1>
    <a href="/agent/login">Agent Login</a>

    <div class="container">
      <% for(var i = 0; i < agents.length; i++){ %>
      <div class="agents">
        <h2><%= agents[i].agent_name %></h2>
        <img src="<%= agents[i].IMG_url %>" alt="" height=300px>
      <div class="left">
        <a href="/view/agent/<% agents[i].id %>">Profile</a>
        <a href="/book/<%=agents[i].id%> ">Book</a>
      </div>
      </div>
      <% } %>
    </div>

  </body>
</html>
