<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Agent Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
    <style>
        body {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-6">
          <%if (error.length > 0) {%>
          <div class="alert alert-warning" role="alert">
          <%=error%>
          </div>
          <%}%>
            <h1>Login</h1>

            <form action="/login" method="post">
              <%if (agent !== undefined) {%>
                <input class="form-control form-control-lg" type="email" name="email" placeholder="Email" value="<%= agent.agent_email %>">
                <%} else {%>
                <input class="form-control form-control-lg" type="email" name="email" placeholder="Email">
                <%}%>
                <input class="form-control form-control-lg" type="password" name="password" placeholder="Password">
                  <br>
                <button type="submit" class="btn btn-primary">Login</button>
                  <br>
                  <br>
              </form>
            </div>
        </div>

        
    </div>
</body>

</html>
